* {
	margin:0px;
	padding:0px;
}

.holder {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}

.item1 {
	background-color:green;
	width:80px;
	height:80px;
	font-size:30px;
	
}
.item2 {
	background-color:red;
	width:80px;
	height:80px;
	font-size:30px;
}
.item3 {
	background-color:blue;
	width:80px;
	height:80px;
	font-size:30px;
}
/* Your CSS Code here. */